.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: rgb(97, 92, 92) !important;
}
a {
  color: rgb(0, 0, 0) !important ;
}
.card {
  background-color: transparent !important;
  color: w white !important;
}
.dropdown-menu {
  background-color: rgb(97, 92, 92) !important;
}
.dropdown-menu:hover {
  color: black !important;
}
body {
  background-image: url("fondo.jpg");
  opacity: 100%;
}
h3,
p {
  color: rgb(0, 0, 0);
}
.centered {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-centered {
  justify-content: space-around;
}

.flex-evenly {
  justify-content: space-evenly;
}

.w-45 {
  width: 45%;
}

.custom-title {
  margin-top: 2rem;
}

.custom-tabs {
  margin-top: 3rem;
}
